.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0em 1em;
    /* align-items: center; */
    border-bottom: 1px rgb(219, 219, 219) solid;
    background-color: white;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    
}
.header__title{
    font-size: 0.7em;
    color: rgb(255, 101, 101);
    /* margin: auto 0; */
    display: flex;
    justify-content: center;
}
.navbar__list{
    display: flex;
    /* gap: 1em; */
    /* padding: 1em; */
}
.navbar__options{
    /* border-left: 1px rgb(195, 195, 195) solid; */
    height: 100%;
}

.bx-user,.bx-shopping-bag, .bx-cart-alt{
    padding: 1em 5em;
    border-left: 1px rgb(230, 230, 230) solid;
    font-size: 1.5em;
    color: rgb(195, 195, 195);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.bx-user:hover,
.bx-shopping-bag:hover,
.bx-cart-alt:hover {
    transform: scale(1.1);
}