.product{
    width: 100%;
    height: 100%;
    max-width: 330px;
    /* border: 1px rgb(194, 194, 194) solid; */
    /* padding: 1em; */
    border-radius: 10px;
    justify-self: center;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(100, 100, 100, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all .2s ease-in-out;
}
.product:hover{
    /* background-color: red; */
    transform: scale(1.01);
    box-shadow: rgba(140, 140, 143, 0.2) 0px 7px 29px 0px;
}
.product__img{
    display: flex;
    padding: 1em;
    height: 180px;
    margin: 1em auto;
    /* border: 1px rgb(194, 194, 194) solid; */
    transition: all .2s ease-in-out;
}
.product__img:hover{
    transform: scale(1.05);
}
.product__section{
    border-top: 1px rgb(194, 194, 194) solid; ;
    padding: 1em 1em 2em;
    
}

.product__brand, .product__price{
    color: rgb(209, 209, 209);
    margin-bottom: 0.5em;
    font-size: 1rem;
}
.product__title, .price{
    margin-left: 0.5em;
    font-size: 1rem;
}
.product__price{
    margin-top: 1em;
    font-weight: 200;
}
.product__cart{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    background-color: rgb(255, 99, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product__cart:hover{
    transform: scale(1.05);
}

.bx-cart{
    /* padding: 0.5em; */
    color: white;
    font-size: 1.8em;
    
}
